{% extends 'base.html.twig' %}

{% block title %}Author{% endblock %}

{% block body %}
    <div class="row my-3">
        <div class="col-12">
            <h1>{{author.fullname}}</h1>
            {% set pub = author.publication %}
            <div class="list-group">
            {% for p in pub %}
                {% if p %}
                    <a href="{{path('book_show',{'id':p.book.id})}}" class="list-group-item list-group-item-action">{{p.book.title}}</a>
                {% endif %}
            {% endfor %}
            </div>
            <div class="col-6">
                <div class="btn-group">
                    <a class="btn btn-warning" href="{{ path('author_edit', {'id': author.id}) }}">edit</a>
                    <a class="btn btn-secondary" href="{{ path('author_index') }}">back to list</a>
                    {{ include('author/_delete_form.html.twig') }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
