{% extends 'base.html.twig' %}

{% block title %}Publication{% endblock %}

{% block body %}
    <div class="row my-3">
        <div class="col-12">
            <h1>Publications</h1>
            <a class="btn btn-warning" href="{{ path('publication_new') }}">add new publication</a>
            <div class="card-columns my-3">
                {% for publication in publications %}
                    <div class="card">
                        <img class="card-img-top" src="holder.js/100x180/" alt="">
                        <div class="card-body">
                            <h4 class="card-title">{{ publication.book }}</h4>
                            <p class="card-text"><span class="text-muted small">Author:</span> {{publication.book.author}}</p>
                            <p class="card-text"><span class="text-muted small">Publisher:</span> {{publication.publisher}}</p>
                            <a class="btn btn-outline-secondary btn-sm small" href="{{path('publication_show',{'id': publication.id})}}">details</a>
                        </div>
                    </div>
                {% else %}
                    <div class="card border-danger">
                        <img class="card-img-top" src="holder.js/100x180/" alt="">
                        <div class="card-body">
                            <h4 class="card-title text-danger">No publications Registered</h4>
                            <p class="card-text">There are no publications found! Please add some publications to get a populated card list.</p>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}
