{% extends 'base.html.twig' %}

{% block title %}Add New Publication{% endblock %}

{% block body %}
    <h1>Add new publication</h1>
    {# {{ include('publication/_form.html.twig') }} #}
    {{ form_start(form) }}
    {{ form_row(form.isbn) }}
    {{ form_row(form.pubyear) }}
    <h3>Books</h3>
    <button class="add_book_link" type="button" data-collection-holder-class="book">Add a new book</button>
    <ul data-prototype="{{ form_widget(form.book.vars.prototype)|e('html_attr') }}" class="books">
        {% for book in form.book %}
            <li class="book-{{book.id}}">{{ form_row(book.title) }}</li>
        {% endfor %}
    </ul>
    {# {{ form_row(form.book) }} #}
    {{ form_row(form.publisher) }}
    <div class="btn-group">
        <button class="btn btn-success">{{ button_label|default('save') }}</button>
        <a class="btn btn-secondary" href="{{ path('publication_index') }}">back to list</a>
    </div>
    {{ form_end(form) }}
{% endblock %}
{% block javascripts %}
    {{ encore_entry_script_tags('publicationjs') }}
{% endblock %}