{% extends 'base.html.twig' %}

{% block title %}Publishers{% endblock %}

{% block body %}
    <div class="row my-3">
        <div class="col-12">
            <h1>Publishers</h1>
            <a class="btn btn-warning" href="{{ path('publisher_new') }}">add new publisher</a>
            <div class="card-columns my-3">
                {% for publisher in publishers %}
                    <div class="card">
                        <img class="card-img-top" src="holder.js/100x180/" alt="">
                        <div class="card-body">
                            <h4 class="card-title">{{ publisher.fullname }}</h4>
                            <p class="card-text">{{publisher.locationAddress}}</p>
                            <p class="card-text"><span class="text-muted">Books Published:</span> {{publisher.publications|length|default('0')}}</p>
                            <a class="btn btn-outline-secondary btn-sm small" href="{{path('publisher_show',{'id': publisher.id})}}">details</a>
                        </div>
                    </div>
                {% else %}
                    <div class="card border-danger">
                        <img class="card-img-top" src="holder.js/100x180/" alt="">
                        <div class="card-body">
                            <h4 class="card-title text-danger">No publishers Registered</h4>
                            <p class="card-text">There are no publishers found! Please add some publishers to get a populated card list.</p>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}
