{% extends 'base.html.twig' %}

{% block title %}Publisher{% endblock %}

{% block body %}
    <div class="row my-3">
        <div class="col-12 mb-3">
            <h1>Publisher</h1>
            <table class="table table-sm small table-striped table-inverse">
                <tbody>
                    <tr>
                        <th>Fullname</th>
                        <td>{{ publisher.fullname }}</td>
                    </tr>
                    <tr>
                        <th>LocationAddress</th>
                        <td>{{ publisher.locationAddress }}</td>
                    </tr>
                    <tr>
                        <th>Publications</th>
                        <td class="list-group">
                            {% for publication in publisher.publications %}
                                <a href="{{path('publication_show',{'id': publication.id})}}" class="list-group-item list-group-item-action">{{publication.book.title}}, {{ publication.book.author }}, {{ publication.pubyear }}</a>
                            {% endfor %}
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="btn-group">
        <a class="btn btn-warning" href="{{ path('publisher_edit', {'id': publisher.id}) }}">edit</a>
        <a class="btn btn-secondary" href="{{ path('publisher_index') }}">back to list</a>
    </div>
{% endblock %}
