{% extends 'base.html.twig' %}

{% block title %}Check in Book{% endblock %}

{% block body %}
    {% set dateDiff = date(borrow.dueDate).diff(date('now')) %}
    {# {{dump(dateDiff)}} #}
    <div class="row my-3">
        <div class="col-12 mb-3">
            <h1>Check in {{borrow.book.title}}</h1>
            <p>This book was borrowed on {{borrow.borrowDate|date('jS F Y')}} and it was supposed to be returned on {{borrow.dueDate|date('jS F Y')}}. The book is {{dateDiff|date()}} overdue today. You will have to pay a late penalty fee of K0.20 per day late.</p>
            {{ include('borrow/_form.html.twig', {'button_label': 'update'}) }}
        </div>
    </div>
{% endblock %}
