{% extends 'base.html.twig' %}

{% block title %}Book Borrowers Log{% endblock %}

{% block body %}
    <div class="row my-3">
        <div class="col-12 mb-3">
            <h1>Borrowers Log</h1>
            <a class="btn btn-success mb-3" href="{{ path('borrow_new') }}">checkout book</a>
            <table class="table table-sm small table-striped table-inverse">
                <thead>
                    <tr>
                        <th>BorrowDate</th>
                        <th>DueDate</th>
                        <th>ReturnDate</th>
                        <th>Student</th>
                        <th>Book</th>
                        <th>actions</th>
                    </tr>
                </thead>
                <tbody>
                {% for borrow in borrows %}
                    <tr>
                        <td>{{ borrow.borrowDate ? borrow.borrowDate|date('jS F y') : '' }}</td>
                        <td>{{ borrow.dueDate ? borrow.dueDate|date('jS F y') : '' }}</td>
                        <td>{{ borrow.returnDate ? borrow.returnDate|date('jS F y') : '' }}</td>
                        <td>{{ borrow.student }}</td>
                        <td>{{ borrow.book }}</td>
                        <td class="btn-group">
                            <a class="btn btn-sm small btn-info" href="{{ path('borrow_show', {'id': borrow.id}) }}">show</a>
                            <a class="btn btn-sm small btn-warning" href="{{ path('borrow_edit', {'id': borrow.id}) }}">edit</a>
                        </td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="7">no records found</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
