{% extends 'base.html.twig' %}

{% block title %}{{reading_level.fullname}} - Reading Level{% endblock %}

{% block body %}
    <div class="row my-3">
        <div class="col-12">
            <h1>{{reading_level.fullname}}</h1>
            <p>{{reading_level.description}}</p>
            <p>The color code for these books are <span class="rounded-circle" style="background: {{reading_level.colorCode}}; width: 100px;">&</span></p>
            {% set book = reading_level.books %}
            <div class="list-group my-3">
            {% for p in book %}
                {% if p %}
                    <a href="{{path('book_show',{'id':p.id})}}" class="list-group-item list-group-item-action mb-1 py-1">{{p.title}}</a>
                {% endif %}
            {% endfor %}
            </div>
        </div>
        <div class="col-6">
            <div class="btn-group">
                <a class="btn btn-warning" href="{{ path('reading_level_edit', {'id': reading_level.id}) }}">edit</a>
                <a class="btn btn-secondary" href="{{ path('reading_level_index') }}">back to list</a>
            </div>
        </div>
    </div>
{% endblock %}
